.boxService {
    border: 1px solid #565656;
    border-radius: 20px;
    padding: 30px;
    transition: 0.5s;
    margin: 15px 0px;
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        h4 {
            font-size: 1.5rem;
        }
        svg {
            color: var(--primary-color);
            font-size: 20px;
        }
    }
    p {
        color: var(--secondary-color);
        font-size: 15px;
    }
    &:hover {
        border: 1px solid var(--primary-color);
    }
}