@import '../../mixins.scss';

.boxInfo {
    padding: 20px;
    position: relative;
    z-index: 5000000;

    .content {
        max-width: 300px;
        padding: 20px 10px;
        border: 1px solid #565656;
        border-radius: 15px;
        color: white;
        margin: auto;

        img {
            width: 100%;
            border-radius: 15px;
        }

        .text {
            text-align: center;
            line-height: 1.3;
            margin: 10px 0px;

            h4 {
                font-size: 25px;
            }

            span {
                display: block;
                color: var(--secondary-color);
                font-size: 20px;
            }
        }

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 13px;
            gap: 10px;

            .icon {
                position: relative;
                display: block;
                color: #999999;
                width: 45px;
                height: 45px;
                border: 1px solid #565656;
                border-radius: 50%;
                transition: 0.5s;

                &:hover {
                    color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                }

                svg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 22px;
                }
            }
            button {
                background-color: transparent;
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 15px;
                }
            }
        }

        button {
            width: 100%;
            padding: 15px;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }
    }

    @include lg {
        position: fixed;
    }
}