@import "../../mixins.scss";

.animation {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        width: fit-content;
        font-weight: bold;
        font-family: monospace;
        font-size: 22px;
        @include sm {
            font-size: 50px;
        }

        clip-path: inset(0 100% 0 0);
        animation: l5 3s steps(35) infinite;
    }

    .loader:before {
        content: "Abdelrahman khaled...."
    }

    @keyframes l5 {
        to {
            clip-path: inset(0 -1ch 0 0)
        }
    }
}